.box {
  border: 5px solid red;
  background-color: yellow;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
}

/* 

* General notes the css box model as a whole applies to block boxes 
and defines how the different parts of a box margin border padding and 
content work together to create a box

* Something else that I learned when it comes to length and width they are 
treated with inline-size and block-size or a width and height attributes this 
defines an inline size and block size so width is inline block is height of the 
content box any padding and border is then added to those measurements to get 
the total size taken up by the box.

* Something else to take into account is that margin is not counted 
towards the actual size of the box so whats happening is that we are 
adding the padding and border but not margin and padding and border are 
being added twice that is something to take into account as well.

* when it comes to border box if we state 150px then its going to be 
150px. 

* So when it comes to this the thing that we need to know here is simple 
the width and height that we declare is going to be the size of the box 
and when it comes to saying content box or border box we are saying 
should it stick to that width or height so does it hold that shape and since 
the first box is set to content its going to be bigger than the pixels 
that are declared length and width wise.

*/
